<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.linroid.radio" >

    <uses-sdk tools:overrideLibrary="com.moshx.indicators" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.RadioPlaybackService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.linroid.radio.ui.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".ui.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.linroid.radio.ui.HomeActivity" />
        </activity>
    </application>

</manifest>
